
<mat-toolbar color="primary">
  <span><a routerLink="/">My Messages</a></span>

  <span class="spacer"></span>
  <ul>
      <li>
        <span>
          <a mat-button routerLink="/create" routerLinkActive="mat-accent" [disabled]="!userIsAuthenticated">New post</a>
        </span>
      </li>
      <li>
        <span>
          <a mat-button routerLink="/login" routerLinkActive="mat-accent" [disabled]="userIsAuthenticated">Login</a>
        </span>
      </li>
      <li>
        <span>
          <a mat-button routerLink="/signup" routerLinkActive="mat-accent" [disabled]="userIsAuthenticated">Signup</a>
        </span>
      </li>
      <li>
        <span>
          <a mat-button [disabled]="!userIsAuthenticated" (click)="onLogout()">Logout</a>
        </span>
      </li>
  </ul>

</mat-toolbar>
