
.submit-buttons {
  display: flex;
}

mat-form-field {
  width: 100%;
  background-color: rgb(96, 194, 233);
  margin: 0em 0em 1em 0em;
}

mat-spinner {
  margin: auto;
}

mat-card {
  width: 100%;
  margin: auto;
}
