<!-- SignUp Form -->
<h3><label for="post">{{signupLabel}}</label></h3>

<!-- Solution with Angular FormsModule and Material for the UI ... -->
<mat-spinner *ngIf="isLoading" mode="indeterminate" color="accent"></mat-spinner>
<mat-card>
  <form *ngIf="!isLoading" #signupForm="ngForm" (ngSubmit)="onSignup(signupForm)" >

    <mat-form-field>
      <input matInput placeholder="Email: " name="email" type="email"
             ngModel #emailInput="ngModel" required email />
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Password: " name="password" type="password"
             ngModel #passwordInput="ngModel" required minlength="{{ minLengthPassword }}" />
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid pasword (min. {{minLengthPassword}} chars are required)</mat-error>
    </mat-form-field>

    <div class="submit-buttons" *ngIf="!isLoading">
      <button mat-raised-button color="primary" type="submit">Signup</button>
      <a mat-button color="active" [routerLink]="['/']">Cancel</a>
    </div>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

  </form>
</mat-card>
