<!-- <hr> -->
<label for="post">Enter your post:</label>

<!-- -- Solution with Angular Forms, Material for UI and NodeJS/ExpressJS/MongoDB for Backend-->
<mat-card>
  <form (submit)="onSavePostValue(postForm)" #postForm="ngForm" >
    <mat-form-field>
      <input matInput placeholder="Post title: " type="text" name="postTitle" #i="ngModel"
             [ngModel]="pccPost.title"
             required minlength="{{minLengthTitle}}" />
      <mat-error *ngIf="i.invalid">Please enter a valid title (min. {{minLengthTitle}} chars are required)</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Post content: " name="postContent" rows="4" cols="50" #t="ngModel"
            [ngModel]="pccPost.content"
            required
            minlength="{{minLengthContent}}"></textarea>
      <mat-error *ngIf="t.invalid">Please enter a valid content  (min. {{minLengthContent}} chars are required)</mat-error>
    </mat-form-field>
    <div style="margin-right: 100%">
      <button mat-raised-button color="primary" type="submit">Save post</button>
    </div>
  </form>
</mat-card>


