
/*
mat-card {
  width: 40%;
  margin: auto;
}
*/

mat-form-field {
  width: 100%;
  background-color: rgb(96, 194, 233);
  margin: 0em 0em 1em 0em;
}

textarea {
  margin: 0;
  padding: 0;
}

mat-spinner {
  margin: auto;
}

button[type=button] {
  margin-right: 1%;
  padding: 5;
}

input[type=file] {
  visibility: hidden;
}

.image-buttons , .image-preview {
  /* background-color: turquoise; */
  display: flex;
  padding-bottom: 0.5rem;
}

.image-preview img {
  /* max-height: 10rem; */
  width: 60%;
  box-shadow: 5px 5px 5px rgba( 0, 0 , 0, 0.5);
  margin-bottom: 1rem;
}

