<!-- Post-create Reactive Form -->
<label for="post">{{postLabel}}</label>

<!-- Solution with Angular Reactive Forms, Material for UI and NodeJS/ExpressJS/MongoDB for Backend -->
<mat-spinner *ngIf="isLoading" mode="indeterminate" color="accent"></mat-spinner>
<mat-card>
  <form [formGroup]="postForm" (submit)="onSavePostValue()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput placeholder="Post title: "
             type="text"
             formControlName="postTitle" />
      <mat-error *ngIf="postForm.get('postTitle')?.invalid">Please enter a valid title (min. {{minLengthTitle}} chars are required)</mat-error>
    </mat-form-field>
    <div class="image-buttons">
      <button mat-stroked-button type="button" color="primary"
              (click)="fileInputPicker.click()">Pick image</button>
      <button *ngIf="imagePreview" mat-stroked-button type="button" color="accent" (click)="resetImagePicker()">Clear</button>
      <input type="file"
             #fileInputPicker
             (change)="onPickImage($event)" />
    </div>
    <div class="image-preview" *ngIf="imagePreview"> <!-- && postForm.get('postImage')?.valid"> -->
      <img [src]="imagePreview" [alt]="postForm.value.postTitle" />
    </div>

    <mat-error *ngIf="postForm.get('postImage')?.invalid">Invalid file format</mat-error>
    <mat-form-field>
      <textarea matInput placeholder="Post content: " rows="4" cols="50"
                formControlName="postContent"></textarea>
      <mat-error *ngIf="postForm.get('postContent')?.invalid">Please enter a valid content  (min. {{minLengthContent}} chars are required)</mat-error>
    </mat-form-field>
    <div class="submit-buttons">
      <button mat-raised-button color="primary" type="submit">Save post</button>
      <a mat-button color="active" [routerLink]="['/']">Cancel</a>
    </div>
  </form>
</mat-card>


