<mat-spinner *ngIf="isLoading" mode="indeterminate" color="accent"></mat-spinner>
<mat-accordion #accordion="matAccordion" multi="true" *ngIf="postList.length > 0 && !isLoading" >
  <mat-panel-title>
    <mat-button-toggle-group id="gr1" #gr="matButtonToggleGroup" appearance="legacy" name="filters" multiple>
      <mat-button-toggle id="textfilter" #ft [checked]="isTextFiltered" name="filterText" (change)="onTextFilter(ft, tf, false)">
        Text<mat-icon>filter_list</mat-icon>
        <input class="input_tf" #tf matInput placeholder="..." type="text" [value]="inputTextSearch" (keyup.enter)="onTextFilter(ft, tf, true)" />
      </mat-button-toggle>
      <mat-button-toggle id="userfilter" #fp [checked]="isUserFiltered" name="filterPerson" *ngIf="userIsAuthenticated" (change)="onPersonFilter(fp)">
        User<mat-icon>person_pin</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-button-toggle-group id="gr2" #gr="matButtonToggleGroup" appearance="legacy" name="expandcollapse">
      <mat-button-toggle id="expand" [checked]="isPostsExpand" (click)="accordion.openAll()" *ngIf="! isPageSizeOne()">
        Expand<mat-icon>expand_less</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle id="collapse" [checked]="!isPostsExpand" (click)="accordion.closeAll()" *ngIf="! isPageSizeOne()">
        Collapse<mat-icon>expand_more</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-panel-title>
  <mat-expansion-panel *ngFor="let post of postList" [expanded]="isPageSizeOne()">
    <mat-expansion-panel-header>{{ post['title'] }}</mat-expansion-panel-header>
    <div class="image-preview" *ngIf="post.imagePath">
      <img [src]="post.imagePath" alt="post.title"
           onClick="window.open(this.src)" role="button" tabIndex="0" />
    </div>
    <!-- {{ post['content'] }} -->
    <div [innerHTML]="stringToHTML(post['content']) | sanitizeHtml"></div>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creatorId">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]" [queryParams]="{ pagesize: pageSize , pageindex: pageIndex }">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<br/>
<p class="mat-body-2" *ngIf="postList.length == 0 && isLoading">No post found yet...</p>
<mat-paginator [length]="postListMax"
               [pageSize]="pageSize" [pageIndex]="pageIndex"
               [pageSizeOptions]="pageSizeOptions"
               (page)="onPageChange($event)"
               aria-label="Select page" *ngIf="postList.length > 0">
</mat-paginator>
