<mat-accordion multi="true" *ngIf="postList.length > 0">
  <mat-expansion-panel *ngFor="let post of postList">
    <mat-expansion-panel-header>{{ post['title'] }}</mat-expansion-panel-header>
    {{ post['content'] }}
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)" >DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<br/>
<p class="mat-body-2" *ngIf="postList.length == 0">No post added yet...</p>
